<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="sass/style-pemilih/dist/style.css">
   <title>Document</title>
</head>

<body>
   <nav>
      <div class="container">
         <div class="logo">
            <img src="img/logo.svg" alt="">
            <div>nge-Vote</div>
         </div>
         <div class="navbar">
            <a href="index.html" class="home">Home</a>
            <a href="quick_count.html" class="quick">Quick Count</a>
            <div class="btn">Hello, bambang</div>
         </div>
      </div>
   </nav>

   <main id="add-data">
      <section>
         <form action="" method="POST">
            <div class="input">
               <label for="no-urut">Nomor Urut</label>
               <input type="text" name="no-urut" placeholder="isi nomor urut disini">

               <label for="">Nama</label>
               <input type="text" name="" placeholder="isi nama disini">

               <label for="">Visi</label>
               <input type="text" name="" placeholder="isi visi disini">

               <label for="">Misi</label>
               <input type="text" name="" placeholder="isi misi disini">

               <label for="">Pilih foto disini</label>
               <input type="text" name="">
            </div>
            <div class="btn">
               <a href="">Kembali</a>
               <input type="submit" name="tambah" value="Tambah">
            </div>
         </form>
      </section>
   </main>

   <footer>
      <div class="container">
         <div>Nge-Vote  |  2020  |  all right reserved</div>
      </div>
   </footer>
</body>
</html>