<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="sass/style-pemilih/dist/style.css">
   <title>Document</title>
</head>

<body>
   <nav>
      <div class="container">
         <div class="logo">
            <img src="img/logo.svg" alt="">
            <div>nge-Vote</div>
         </div>
         <div class="navbar">
            <a href="index.html" class="home">Home</a>
            <a href="quick.html" class="quick">Quick Count</a>
            <div class="btn">Hello, bambang</div>
         </div>
      </div>
   </nav>

   <main id="home">
      <div class="kandidat kandidat-1">
         <img src="img/alip.png" alt="">
         <div class="no-kandidat">1</div>
         <a href="voting.html">Awalif</a> 
      </div>
      <div class="kandidat kandidat-2">
         <img src="img/addia.png" alt="">
         <div class="no-kandidat">2</div>
         <a href="voting.html">Addia</a>
      </div>
   </main>

   <footer>
      <div class="container">
         <div>Nge-Vote | 2020 | all right reserved</div>
      </div>
   </footer>
</body>

</html>