<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="sass/style-pemilih/dist/style.css">
   <title>Document</title>
</head>
<body>
   <main id="login">
      <section>
         <h1>Selamat Datang</h1>
            <form action="" method="POST">
            <div class="username">
               <div>username</div>
               <input type="text" name="username">
            </div>
            <div class="password">
               <div for="">password</div>
               <input type="password" name="password">
            </div>
            <input type="submit" name="btnLogin" value="Login">
         </form>
      </section>
   </main>

   <footer id="login">
      <div>Nge-Vote  |  2020  |  all right reserved</div>
   </footer>
</body>
</html>