<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="sass/style-admin/dist/style.css">
   <title>Document</title>
</head>


<body>
   <aside>
      <div class="admin">
         <img src="img/admin_3.jpg" alt="">
         <div class="name">Hello Admin</div>
         <div class="status">Admisitrator</div>
      </div>
      <div class="navbar">
         <div><a href="home-admin.html">home</a></div>
         <div><a href="">User Data</a></div>
         <div><a href="vote-box-admin.html">Vote Box</a></div>
         <div><a href="quick-count-admin.html">Quick Count</a></div>
      </div>
      <a href="#" class="logout">Log Out</a>
   </aside>

   <div class="content">
      <nav>
         <img src="img/logo.svg" alt="">
         <div>nge-Vote</div>
      </nav>

      <main id="vote-box-admin">
         <div class="title">Vote Box-Page</div>

         <div class="table">
            <thead"> 
               <baris>
                  <kolom>Nomor</kolom>
                  <kolom>Nama Kandidat</kolom>
                  <kolom>ID Pemilih</kolom>
                  <kolom>Waktu Memilih</kolom>
               </baris>
            </thead>
            <tbody>
               <baris>
                  <kolom>1</kolom>
                  <kolom>Awalif</kolom>
                  <kolom>2</kolom>
                  <kolom>2020-11-12 12:00:00</kolom>
               </baris>
               <baris>
                  <kolom>1</kolom>
                  <kolom>Awalif</kolom>
                  <kolom>2</kolom>
                  <kolom>2020-11-12 12:00:00</kolom>
               </baris>
               <baris>
                  <kolom>1</kolom>
                  <kolom>Awalif</kolom>
                  <kolom>2</kolom>
                  <kolom>2020-11-12 12:00:00</kolom>
               </baris>
               <baris>
                  <kolom>1</kolom>
                  <kolom>Awalif</kolom>
                  <kolom>2</kolom>
                  <kolom>2020-11-12 12:00:00</kolom>
               </baris>
               <baris>
                  <kolom>1</kolom>
                  <kolom>Awalif</kolom>
                  <kolom>2</kolom>
                  <kolom>2020-11-12 12:00:00</kolom>
               </baris>
            </tbody>
         </div>
      </main>
   
      <footer>
         <div>Nge-Vote | 2020 | all right reserved</div>
      </footer>
   </div>
</body>

</html>