<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="sass/style-pemilih/dist/style.css">
   <title>Document</title>
</head>

<body>
   <nav>
      <div class="container">
         <div class="logo">
            <img src="img/logo.svg" alt="">
            <div>nge-Vote</div>
         </div>
         <div class="navbar">
            <div class="btn">Hello, bambang</div>
         </div>
      </div>
   </nav>

   <main id="voting">
      <section>
         <div class="profile">
            <div class="text">
               <div class="no">Nomor Urut: 1</div>
               <div class="name">Nama Kandidat</div>
               <div class="visi">Ini visi-visinya</div>
               <div class="misi">Kalau ini misi-misinya</div>
            </div>
            <div class="btn">
               <a href="index.html" class="kembali">kembali</a>
               <a href="thanks.html" class="coblos">coblos</a>
            </div>
         </div>
         <div class="img">
            <img src="img/admin_3.jpg" alt="">
         </div>
      </section>
   </main>

   <footer>
      <div class="container">
         <div>Nge-Vote | 2020 | all right reserved</div>
      </div>
   </footer>
</body>

</html>